{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-var": 0,
    "@typescript-eslint/no-explicit-any": 2,
    "@typescript-eslint/no-this-alias": [
      "error",
      {
        "allowedNames": ["that"]
      }
    ]
  }
}