<h2>Toggle 2 Redmine</h2>

<form id="filter-form" class="t2r-form">
  <fieldset class="box tabular">
    <legend>Options</legend>
    <p class="form-item">
      <label for="date">Date <span class="required"> *</span></label>
      <input id="date" type="date" required="required" />
    </p>
  </fieldset>
  <p class="form-actions">
    <button type="submit" id="btn-preview">View Time Entries</button>
  </p>
</form>

<div id="redmine-report-container">
  <h3>Entries from Redmine</h3>
  <table id="redmine-report" class="list odd-even t2r-table">
    <thead>
    <tr>
      <th class="id">Issue ID</th>
      <th class="subject">Subject</th>
      <th class="comments">Comments</th>
      <th class="activity">Activity</th>
      <th class="hours">Hours</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<form id="publish-form">
  <h3>Entries from Toggl</h3>
  <table id="toggl-report" class="list odd-even t2r-table">
    <thead>
      <tr>
        <th class="checkbox">Import?</th>
        <th class="id">Issue ID</th>
        <th class="subject">Subject</th>
        <th class="comments">Comments</th>
        <th class="activity">Activity</th>
        <th class="hours">Hours</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class="form-actions">
    <button id="btn-publish" type="submit">Import to Redmine</button>
  </div>
</form>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 't2r', :plugin => 'toggl2redmine' %>
  <%= javascript_include_tag "t2r.js", :plugin => 'toggl2redmine' %>
  <script>
    T2R.REDMINE_API_KEY = '<%= @redmine_api_key %>';
    T2R.TOGGL_API_KEY = '<%= @toggl_api_key %>';
  </script>
<% end %>

<% html_title "Toggl 2 Redmine" %>
