/* UI States */
.t2r-loading {
  background-image: url("../images/loader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 20px;
  min-width: 50px;
}
.t2r-loading * {
  display: none;
}
.t2r-error {
  background-color: #E6BBBA;
}
.t2r-success {
  background-color: #C6EB86;
}

/* Forms */
.t2r-form {
  display: block;
  margin-bottom: 2em;
}

/* Tables */
.t2r-table {
  margin-bottom: 2em !important;
}
.t2r-table th,
.t2r-table td {
  text-align: left !important;
}
.t2r-table td.activity {
  width: 150px;
}
.t2r-table th.hours,
.t2r-table td.hours {
  text-align: right !important;
  width: 50px;
}
.t2r-table td input,
.t2r-table td select {
  max-width: 100%;
  width: 100%;
}
.t2r-table tfoot {
  border-top: 1px solid #e4e4e4;
}
